:root{
  --backgroungColor: #fff;
  --color: #fff;
  --linkCardBackgroundColor: #fff;
  --linkCardHoverColor: #fff;
  --linkCardTextColor: #fff;
  --linkCardBorderRadius: 5px;
  --linkCardBorderColor: #fff;
  --linkCardShadow:5px 5px 5px #000000;
  --linkCardBorderWidth: 1px;
  --linkCardOnHoverBackgroundColor: #fff;
  --linkCardOnHoverTextColor: #000;
}

body{
  background: var(--backgroungColor);
  color: var(--color);
  height: 100%;
}

.App {
  text-align: center;
  padding: 50px 10px;
  max-width: 680px;
  margin: auto;
  height: 100%;
}
.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}
.profile-title{
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 0;
}
.profile-bio{
  font-size: 14px;
  font-weight: 500;
  margin:0;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
}
 
.link-card{
  background: var(--linkCardBackgroundColor);
  border: var(--linkCardBorderWidth) solid var(--linkCardBorderColor);
  border-radius: var(--linkCardBorderRadius);
  padding: 12px;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--linkCardShadow);
  color: var(--linkCardTextColor);
}


.link-card a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.link-card:hover{
  /* background: var(--linkCardOnHoverBackgroundColor);
  color: var(--linkCardOnHoverTextColor); */
  transform: scale(1.05);
}

iframe{
  z-index: inherit;
  width: 100%;
  height: 315px;
}

@media screen and (max-width: 768px) {
  .App {
    /* height: 150px; */
  }
}

summary::marker{
  content: "";
}